.size-shrift{margin-top: 100px;}
.pizza-poto{margin-top: -70px;}
.left img:hover{-webkit-transform: scale(1.2);-ms-transform: scale(1.2);transform: scale(1.2);-webkit-animation: rotation 0.5s linear;}
nav ul li a {color:black;}
.nav-items:hover {-webkit-transform: scale(1.2);-ms-transform: scale(1.2);transform: scale(1.2);-webkit-animation: rotation 0.5s linear;}
nav ul li a:hover{color:orangered;-webkit-transition: .9s;-o-transition: .9s;transition: .9s;}
nav ul li a:after {-ms-transform: translateX(-50%) scaleX(0);transform: translateX(-50%) scaleX(0);-webkit-transform: translateX(-50%) scaleX(0);-webkit-transform-origin: 50% 50%;-webkit-transition: -webkit-transform 250ms;transition: -webkit-transform 250ms;-o-transition: transform 250ms;transition: transform 250ms;transition: transform 250ms, -webkit-transform 250ms;}
.col-md-4:hover{-webkit-box-shadow:10px 14px 18px -6px rgba(0,255,0,0.3);box-shadow:10px 14px 18px -6px rgba(0,255,0,0.3);cursor: pointer;color:green;}
.leafff{right: 170px;top: -25px;}
.image{right: 80px; bottom:75px;}
.img{width: 70px;margin: 0 auto;}
.nav-link:focus{color:black;}
.nav-link {color:black;}
.nav-link:hover{-webkit-transform: scale(1.2);-ms-transform: scale(1.2);transform: scale(1.2);-webkit-animation: rotation 0.5s linear;color:orangered;}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {color:black;}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link:hover {-webkit-transform: scale(1.2);-ms-transform: scale(1.2);transform: scale(1.2);-webkit-animation: rotation 0.5s linear;color:orangered;}
.navv{display: none;}
.inner img{
    -webkit-transition: all 1.1s ease;
    -o-transition: all 1.1s ease;
    transition: all 1.1s ease;}
.inner:hover img{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);}
.inner:hover{
    -webkit-box-shadow:10px 14px 18px -6px rgba(0,255,0,0.3);
            box-shadow:10px 14px 18px -6px rgba(0,255,0,0.3);cursor: pointer;color:green;}
.arrows{
    font-size: 30px;
    margin-right: 50px;}
.arrow:hover {-webkit-transform: scale(1.2);-ms-transform: scale(1.2);transform: scale(1.2);-webkit-animation: rotation 0.5s linear;}
.opinions text{
    -webkit-transition: all 1.1s ease;
    -o-transition: all 1.1s ease;
    transition: all 1.1s ease;}
.opinions:hover{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);}
.boxes:hover{
    -webkit-box-shadow:10px 14px 18px -6px rgba(0,255,0,0.3);
            box-shadow:10px 14px 18px -6px rgba(0,255,0,0.3);cursor: pointer;color:#CD853F;}
.lleeaaff{
    right:0px;
    top:3px;}
.arroww{
    font-size: 39px;}
.icon-list{
    font-size: 25px;}
.font-color a{color:green;}
.Price{color:green;}
.mozzarella{ margin-top: 35px;}
.size-width{font-size:14px;}
.herbs{
    right: 0px;
    bottom:-15px;}
.leaf{
    left: 22px;
    bottom:205px;}
.box-height{
    max-width: 930px;
    width: 100%;
    margin: 0 auto;}
ul{-webkit-padding-start: 30px;padding-inline-start: 30px;}